.navbar{
    background-color: blanchedalmond;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.navbar img{
    width: 200px;
}
.banner{
    background-color: rgb(243, 205, 205);
    display: flex;
    justify-content: center;
}
.banner img{
    width: 50px;
}
h1, a{
    padding: 1rem;
    text-align: center;
}
.divcartas{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0;
}
.card{
    margin: 0rem;
}
footer{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
}
.divfooter1 img{
    width: 40px;
}
.divfooter1{
    display: flex;
    justify-content: center;
}
.divfooter2{
    display: flex;
    justify-content: center;
    align-items: center;
}
