.navbar{
    background-color: antiquewhite;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
img{
    width: 200px;
}
.banner{
    background-color: rgb(243, 205, 205);
    display: flex;
    justify-content: center;
}
.banner img{
    width: 50px;
}
h1, a{
    padding: 1rem;
    text-align: center;
}
