*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header>.navbar{
    background-color: blanchedalmond;
}
.navbar img{
    width: 200px;
}
.banner{
    background-color: rgb(243, 205, 205);
    display: flex;
    justify-content: center;
}
.banner img{
    width: 50px;
}
h1, a{
    padding: 1rem;
    text-align: center;
}
#navbar{
    margin: 0rem 2rem;
}
.fieldset{
    display: flex;
}
.fieldset>label{
    display: flex;
    margin: 1rem;
}
span{
    margin: 5px;
}
.divcartas{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0;
}
.card{
    margin: 0rem;
}
footer{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
}
.divfooter1 img{
    width: 40px;
}
.divfooter1{
    display: flex;
    justify-content: center;
}
.divfooter2{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Styles para Contact us*/



.contactform{
    background-color: rgb(247, 247, 247); 
    display: flex;
    justify-content: center;
    align-items: center;

}
.contactform>form{
    background-color: rgb(210, 208, 238);
    margin: 2rem;
    border: 2px solid rgb(9, 3, 95);
    padding: 1rem;
}
fieldset label{
    display: block;
}
form p{
    margin: 0;
}
label>input, label>textarea{
    width: 100%;
}
#submit{
    display: flex;
    justify-content: flex-end;
}


/*Styles para Stats*/



.tables{
    background-color: rgb(247, 247, 247);
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
table{
    background-color: white;
    border: 1px solid black;
}
caption{
    font-size: x-large;
    caption-side: top;
    background-color: bisque;
    border: 1px solid black;
    padding: 1rem 0;
}
tr th,tr td{
    border: 1px solid black;
}