*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header>div{
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 2rem;
}
.divnavimg img{
    max-width: 100%;
}
.divnavbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.divnavbar a{
    color: rgb(97, 97, 97);
    background-color: aliceblue;
    margin: 10px;
    padding: 4px 1rem 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.divnavbar a:hover{
    background-color: rgb(201, 201, 255);
}
.divnavbar>.active{
    color: black;
}



/*Styles para el banner*/



.banner{
    background-color: rgb(243, 205, 205);
    display: flex;
    justify-content: center;
}
.banner a{
    font-size: xx-large;
    text-decoration: none;
}
h1, a{
    padding: 1rem;
    text-align: center;
}



/*Styles para checkbox y search*/


.navbar, .divcartas{
    background-color: rgb(247, 247, 247);
}
#navbar{
    padding: 1rem 2rem;
}
.fieldset{
    display: flex;
    flex-wrap: wrap;
}
.fieldset>label{
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
span{
    margin: 5px;
}



/*Styles para las cartas*/



.divcartas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.5rem 0 3rem;
    gap: 1rem;
}
.card{
    margin-bottom: 1rem;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.maindetails .card-body{
    padding-top: 0 !important;
}
.card-text1{
    display: inline-block;
    margin-right: 1rem;
}
.divcardbody{
    display: flex;
    justify-content: space-between;
}



/*Styles para el footer*/



footer{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
}
.divfooter1 img{
    width: 40px;
}
.divfooter1{
    display: flex;
    justify-content: center;
}
.divfooter2{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Styles para Contact us*/



.contactform{
    background-color: rgb(247, 247, 247); 
    display: flex;
    justify-content: center;
    align-items: center;

}
.contactform>form{
    background-color: rgb(210, 208, 238);
    margin: 2rem;
    border: 2px solid rgb(9, 3, 95);
    padding: 1rem;
    border-radius: 5px;
}
fieldset label, fieldset span{
    display: block;
}
form span{
    margin: 0;
}
label>input, label>textarea{
    width: 100%;
}
#submit{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
#submit input{
    padding: 0 5px;
}



/*Styles para Stats*/



.tables{
    background-color: rgb(247, 247, 247);
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
table{
    background-color: white;
    border: 1px solid black;
}
caption{
    font-size: x-large;
    caption-side: top;
    background-color: bisque;
    border: 1px solid black;
    padding:21rem 0;
}
tr th,tr td{
    border: 1px solid black;
}



/*Styles para details*/



.maindetails{
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}
.maindetails>.card{
    margin: 3rem !important;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
}